@charset "UTF-8";
body {
  line-height: 1.7;
  font-size: 16px;
  font-family: 'Noto Sans JP', sans-serif;
  color: #333332;
}
.maintitle{
  font-family: sans-serif;
}



/* header */
header {
  background-color: #000;

  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  flex-direction: row;
  height: 130px;
}
header h1 {
  background-color: #aacf53;

  margin: 0;
  width: 100%;
  height: 80px;
  text-align: center;
  line-height: 80px;
}
header h1 a{
  text-decoration: none;
  color: #ffffff;
}
header nav {
  background-color: #f08300;

  margin: 0;
  width: 100%;
  height: calc(130px - 80px);
}
header nav ul{
  background-color: #aacf53;
  font-family: sans-serif;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  text-align: center;
  line-height: calc(130px - 80px);
  margin: 0;
  height: calc(130px - 80px);
}
header nav ul a,
header nav ul a:link,
header nav ul a:visited {
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
}
header nav ul li:hover{
  transform: scale(1.2);
  transition: 0.2s;
}

/* footer */
footer {
  background: #316745;
  height: 100px;
  padding: 10px;
}
footer p {
  display: flex;
  color: #fff;
}

a {
  color: white;
  text-decoration: none;
}


/* main */
main {
  background-color: #fbfaf5;

  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  flex-direction: row;
}
main div {
  margin: 0;
  width: 100%;
}
main div p{
  margin: 0;
}
main div.inner {
  color: #333332;
  margin: 0;
  padding: 20px;
}
main div.inner h2 {
  margin: 0;
  font-family: sans-serif;
}
main div.inner p.indent {
  text-indent: 1em;
}
main div.inner p.indent2 {
  text-indent: 2em;
}

/* index */

/* juniorhigh and high */
main div.inner summary {
  display: flex;
  margin-left: 2em;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 22px;
  cursor: pointer;
}
main div.inner summary::-webkit-details-marker {
  /* Safariで表示されるデフォルトの三角形アイコンを消します */
  display: none;
}
main div.inner summary:hover {
  color: #999896;
}

main div.inner details table.linklist {
  width: calc(100% - 6em);
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 5px;
  margin-bottom: 5px;
}
main div.inner details table.linklist tr {
  border-bottom: 1px solid #666664;
  height: 3em;
}
main div.inner details table.linklist tr:first-child {
  border-top: 1px solid #666664;
  }
main div.inner details table.linklist tr td {
  color: #333332;
  margin: 0;
  padding: 0;
  height: 3em;
  text-align: center;
  min-width: 3em;
}
main div.inner details table.linklist tr a {
  display: block;
  line-height:2em;
}
main div.inner details table.linklist tr a,
main div.inner details table.linklist tr a:link,
main div.inner details table.linklist tr a:visited {
  text-decoration: underline;
  color: #666664;
}
main div.inner details table.linklist tr a:hover {
  color: #999896;
}


