@charset "utf-8";

h3 {
  text-align: center;
  font-family: 'Sawarabi Mincho', serif;
}

background: linear-gradient(#e66465, #9198e5);
background: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
